

body {

    font-family: 'Kdam Thmor Pro', sans-serif;
}


#container {

    display: flex;
    align-content: center;
    align-items: center;
   flex-direction: column;
    gap: 10px;

}

#form {
display: flex;
flex-direction:column;
align-items: center;
justify-content: center;
gap: 7px;
}



#pokemonimg {

    width: 450px;
    height: 250px;
}




.poke-card {
position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:fit-content;
    min-width: 250px;
    max-width: fit-content;
    
    border-radius: 4px;
    color: black;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    background-color: rgb(228, 218, 218);
    border: 1px solid black;
}
input {
    height: 20px;
}
.poke-card::before {
    content: '';
    background: radial-gradient(black 33%, transparent 33%);
    background-size: 3px 3px;
    border-radius: 3px 3px;
    border-radius: 4px;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: -1;
}

.img-container {
    display: flex;
   justify-content: center;
    width: 100px;
    margin: 10px auto;

}

.imagepika {
    

    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 50%;

}

.poke-stats div {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding: 5px;
    font-size: 18px;
}


.poke-types div {
    padding:5px;
    margin: 5px;
    border-radius: 4px;
    border: 1px dashed black;
}

